<div class="menu">
  <div class="menu__logo">
    <%= partial "layouts/logo" %>
  </div>
  <div class="menu__trigger" onClick="menu()">
    <i class="fas fa-ellipsis-h menu__open"></i>
    <i class="fas fa-times menu__close"></i>
  </div>
</div>
