<header class="page__header" style="background-image: url(<%= image_path("pages/#{image}") %>);">
  <div class="page__header--overlay"></div>
  <div class="col-md-12 page__header--content">
    <h1 class="page__header--title">
      <%= title %>
    </h1>
  </div>
</header>