<header class="index__header">
  <div class="index__header--overlay"></div>
  <div class="col-md-12 index__header--content">
    <h1 class="index__header--title">
      Lorem ipsum
    </h1>
    <p class="index__header--text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque porta lorem in dolor bibendum malesuada. Suspendisse aliquam et orci in sollicitudin.
    </p>
  </div>
</header>
<section class="page">
  <div class="container">
    <div class="index__phone">
      <i class="fas fa-mobile-alt"></i>
      <span>xxx-xxx-xxxx</span>
    </div>
    <div class="row align-items-center index__first">
      <div class="col-md-4 offset-md-2">
        <img class="index__image" src="https://images.unsplash.com/photo-1531346878377-a5be20888e57?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80"/>
      </div>
      <div class="col-md-4">
        <div class="index__content">
          <h6>En apprendre plus</h6>
          <h2>À propos de GoExperts</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque porta lorem in dolor bibendum malesuada. Suspendisse aliquam et orci in sollicitudin. Curabitur ex tortor, fermentum ac neque in, laoreet tempor mi. Quisque fermentum in nisl quis porta. Praesent sollicitudin quam sit amet odio suscipit, non aliquet dui luctus. Phasellus rhoncus, diam a eleifend gravida, odio nulla venenatis massa, sed dapibus urna odio ut felis.</p>
        </div>
      </div>
    </div>
  </div>
</section>