<% - @title = t('pages.urgence.title') %>
<%= partial "layouts/page_header", :locals => {:title => t('pages.pret.title'), :image => t('pages.pret.background')} %>
<section class="page--gap">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 page__content page__content">
        <%= t('pages.pret.content') %>
      </div>
    </div>
  </div>
</section>