<% - @title = t('pages.protection.title') %>
<%= partial "layouts/page_header", :locals => {:title => t('pages.protection.title'), :image => t('pages.protection.background')} %>
<section class="page--gap">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 page__content">
        <%= t('pages.protection.content') %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 offset-md-2 page__content">
        <%= t('pages.protection.content2') %>
      </div>
    </div>
    <div class="row page__list">
      <div class="col-md-8 offset-md-2">
        <ul>
          <% t('pages.protection.list').each do |item| %>
            <li><%= item %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>