footer
  color: $lightergrey
  background: url('../images/footer_bg.svg') $darkergrey
  padding: 60px 0 20px 0
  ul
    li
      margin: 5px 0

.footer__logo
  svg
    width: 150px
    .go
      fill: $lightergrey
    .experts
      fill: $lightergrey

.footer__services
  text-align: center
  
.footer__contact
  text-align: right
  a
    text-decoration: none

.footer__copyright
  padding: 12px 0
  margin-top: 30px
  text-align: center